.conocimientos{
    height: 100vh;
    overflow: hidden;
}

.conocimientos-header{
    /* display: inline; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.conocimientos-header .conociminetos-titulo{
    color: #35d688;
    font-size: 3rem;
    margin-top: 7%;
    margin-bottom: 0;
    /* margin-left: 3vw; */
    /* position: absolute; */
    /* bottom: 0px; */
    /* left: 10vw; */
    font-family: 'Lato black', sans-serif;
}

.conocimientos-header .conociminetos-texto{
    /* position: relative; */
    margin-top: 9%;
    margin-bottom: 0;
    margin-left: 8vw;
    width: 50%;
    /* margin-left: 37vw; */
    /* position: absolute; */
    font-size: 1.1rem;
    color: #36177e;
}

.conocimientos-iconos{
    display: grid;
    background-color: rgb(54 23 126);
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    grid-gap: 1rem 3rem;
    margin: 3vw 17vw;
    /* margin-left: -7%; */
    margin-right: -7%;
    padding: 3rem 3rem;
    /* padding-left: 37%; */
    padding-right: 37%;
    height: 60%;
    border-radius: 5rem;
    /* align-items: center; */
}

.cont-iconos{
    align-items: center;
    display: grid;
    grid-template-rows: 0 auto;
    margin: 0 auto;
}

.cont-iconos:before{
    color: white;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    bottom: -4rem;
    visibility: hidden;
    transform: scale(0);
}

.bootstrap::before{content: "Bootstrap";} .git::before{content: "Git";} .java::before{content: "Java";} .javascript::before{content: "JavaScript";}
.nodejs::before{content: "NodeJS";} .react::before{content: "React";} .sqlite::before{content: "SQLite";}
.tableau::before{content: "Tableau";} .aftereffects::before{content: "After Effects";} .illustrator::before{content: "Illustrator";}
.premierepro::before{content: "PremierePro";} .photoshop::before{content: "Photoshop";}

.cont-iconos:hover:before,
.cont-iconos:focus:before,
.cont-iconos:active:before{
    bottom: 0.8rem;
    visibility: visible;
    transition: linear 0.2s;
    transform: scale(1);
}

.icono{
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px;
}

.icono:hover,
.icono:active,
.icono:focus{
    background: rgba(250, 250, 250, 80);
    transform: scale(1.2);
    box-shadow: -5px 7px 14px 0px #000000c2;
    padding: 1px;
    cursor: none;
    transition: 0.2s;
}



/* .conocimientos{
    position: relative;
    height: 100vh;
    color: white;
    margin: 0 5vw;
}

.conocimientosHeader{
    padding-top: var(--padding-header-componente);
}

.conocimientosHeader h1{
    margin-left: 5.5vw;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-style: double;
    font-weight: 100
}

.conocimientosHeader p{
        margin: auto 5.5vw;
        text-align: center;
}

.conocimientosIconos{
    display: grid;
    grid-gap: 1rem 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    align-items: center;
    border-radius: 15px;
    background-color: rgb(31 24 82 / 58%);
    margin: 2vw 17vw;
    padding: 2rem 3rem;
    height: 60%;
}

.conocimientosIconos div {
    align-items: center;
    display: grid;
    grid-template-rows: 0 auto;
    margin: 0 auto;
}

.icono{
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px;
}

.conocimientosIconos div:before{
    color: white;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    bottom: -4rem;
    visibility: hidden;
    transform: scale(0);
}

.bootstrap::before{content: "Bootstrap";} .git::before{content: "Git";} .java::before{content: "Java";} .javascript::before{content: "JavaScript";}
.nodejs::before{content: "NodeJS";} .react::before{content: "React";} .sqlite::before{content: "SQLite";}
.tableau::before{content: "Tableau";} .aftereffects::before{content: "After Effects";} .illustrator::before{content: "Illustrator";}
.premierepro::before{content: "PremierePro";} .photoshop::before{content: "Photoshop";}

.conocimientosIconos div:hover:before,
.conocimientosIconos div:active:before{
     bottom: -9rem;
    visibility: visible;
    transition: linear 0.2s;
    transform: scale(1);
}

.conocimientosIconos img:hover,
.conocimientosIconos img:active{
    background: rgba(250, 250, 250, 80);
    transform: scale(1.2);
    box-shadow: -5px 7px 14px 0px #000000c2;
    padding: 2px;
    cursor: none;
    transition: 0.2s;
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
    .conocimientosIconos{
        grid-gap: 1rem 1.5rem;
        margin: 2vw 4vw;
        grid-template-columns: repeat(auto-fit, minmax(16vw, 1fr));
    }

    .conocimientosIconos div {
        transform: scale(0.8);
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
        .conocimientosIconos div:hover:before,
        .conocimientosIconos div:active:before{
        bottom: -8.2rem;
        visibility: visible;
        transition: linear 0.2s;
        transform: scale(0.9);
    }
}

@media screen and (max-width: 750px) {
    .conocimientosIconos{
        grid-gap: 1rem 1.5rem;
        margin: 2vw 4vw;
        grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
    }

    .conocimientosIconos div {
        transform: scale(0.8);
        margin: 0 -1rem;
    }

}

@media screen and (max-height: 800px) {
    .conocimientosHeader h1 {
        margin-top: -1.1rem;
    }

    .conocimientosHeader p {
        margin-top: -1.2rem;
    }

    .conocimientosIconos div{
        margin: 0 -1rem;
        transform: scale(0.7);
    }

    .conocimientosIconos{
        margin: 1vw 17vw;
        grid-gap: 0;
        padding: 1rem 3rem;
    }
}

@media screen and (max-height: 800px) and (max-width: 700px){
    .conocimientosIconos{
            margin: 1vw 2vw;
    }
}

@media screen and (max-height: 800px) and (max-width: 1000px){
    .conocimientosIconos{
            margin: 1vw 2vw;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .conocimientosHeader h1{
        margin-top: -1.1rem;
        margin-bottom: 0.5rem;
    }

    .conocimientosHeader p{
        margin: 0;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .conocimientosIconos{
        margin-top: 3px;
        margin-left: 0;
        margin-right: 0;
        height: 45%;
    }

    .icono{
        transform: scale(0.7);
    }
  
  } */