.contacto{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.contactoHeader{
    padding-top: var(--padding-header-componente);
}

.contactoHeader h1{
    margin-left: 5.5vw;
    font-size: 1.8rem;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-style: double;
    font-weight: 100;
}

.formulario form{
    position: relative;
    align-items: center;
    width: 25vw;
    margin: 10vh auto;
    background-color: rgb(255 255 255 / 0%);
}

.inputForm{
    text-align: start;
    color: rgba(255, 255, 255);
    font-size: 0.9rem;
    line-height: 1.7rem;
    background-color: rgba(255, 255, 255, 0);
    border: rgb(47 37 112 / 70%) solid 4px;
    box-shadow: 0px 0px 10px 0px rgb(97 85 175), 0px 0px 3px 0px rgb(130 116 225) inset;
    border-radius: 8px;
    padding: 0.6rem 0.4rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Lato';
}

.inputForm:focus,
.inputForm:active{
    background-color: rgb(32 60 132 / 35%);
    outline: none;
    transition: 0.2s linear;
    border: rgb(47 37 112) solid 5px;
    box-shadow: 0px 0px 0px 0px rgb(97 85 175);
}
.inputForm::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

form textarea{
    height: 25vh;
    line-height: 150%;
    resize: vertical;
}

.inputForm::placeholder{
    text-align: center;
}

.inputForm:-webkit-autofill,
.inputForm:-webkit-autofill:hover,
.inputForm:-webkit-autofill:focus,
.inputForm:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.botonEnviar{
    text-align: center;
    width: 30%;
    padding: .5rem;
    font-size: 1.2rem;
    margin: 0px 36%;
    cursor: pointer;
    border: none;
    background-color: rgb(76, 67, 134);
    border: rgb(47 37 112) solid 1px;
    border-radius: 10px;
    box-shadow: -1px 2px 9px #00000045;
}

.botonEnviar:hover{
    background-color: rgb(93, 82, 165);
    box-shadow: -1px 3px 4px 1px #0000009d;
    transform: scale(1.01);
    transition: 0.08s linear;
}

.botonEnviar:active,
.botonEnviar:focus{
    background-color: rgb(103, 85, 221);
    box-shadow: 0px 0px 0px 0px;
    bottom: -2px;
    transform: scale(1.01);
    transition: 0.08s linear;
    border: rgb(47 37 112) solid 1px;
}


/*-----------------------------------------*/

.contenedorIconosContacto{
        background-color: rgb(47 37 112);
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100vw;
        bottom: 0;
}

.contenedorIconosContacto div{
    margin: 0px 5% 0px;
    box-shadow: black 0px 8px 0px 0px;
}

.contenedorIconosContacto div:hover,
.contenedorIconosContacto div:active,
.contenedorIconosContacto div:focus{
    box-shadow:  black 0px 8px 9px 0px;
    transition: 0.1s linear;
    cursor: pointer;
}

.iconoContacto{
    transform: scale(0.5);
    position: relative;
    bottom: -0.5rem;
}

.contenedorIconosContacto div p{
    color: rgb(0, 0, 0);
    margin: 0 0 0.8rem 0;
    position: relative;
    bottom: 1.3rem;
}

.contactoEmail img {
    transform: scale(0.6);
    position: relative;
    /* top: 0.8rem; */
}

.contactoGitHub img{
    transform: scale(0.52);
    position: relative;
    bottom: -5px;
}

.contactoEmail::before{
    content: 'calelyo@gmail.com';
    position: absolute;
    bottom: 4.8rem;
    font-size: 0;
    color: white;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.contactoEmail:hover::before{
    visibility: visible;
    filter: drop-shadow(0px 5px 1px black);
    bottom: 7.3rem;
    font-size: 0.75rem;
    text-decoration: underline;
}

.contactoEmail:hover img,
.contactoEmail:active img,
.contactoEmail:focus img {
    transform: scale(0.65);
    transition: 0.1s cubic-bezier(1, 1.65, 1, 1.76);
}

.contactoGitHub:hover img,
.contactoGitHub:active img,
.contactoGitHub:focus img{
    transform: scale(0.58);
    transition: 0.1s cubic-bezier(1, 1.65, 1, 1.76);
}

.contactoLinkedIn:hover img,
.contactoLinkedIn:active img,
.contactoLinkedIn:focus img{
    transform: scale(0.55);
    transition: 0.1s cubic-bezier(1, 1.65, 1, 1.76);
}

.diagonal2 {
    height: 100%;
    width: 100%;
    background-color: rgb(253 253 253 / 10%);
    position: absolute;
    transform: skewY(320deg);
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
    .formulario form{
        width: 40vw;
    }
}

@media screen and (max-width: 750px) {
    .formulario form{
        width: 60vw;
    }
}

@media screen and (max-height: 800px) {
    .formulario form{
        margin: 0vh auto;
    }

    .formulario form textarea{
        height: 20vh;
    }

    .contenedorIconosContacto div{
        margin: -0.8rem 5% -0.8rem;
    }

    .contactoEmail img {
        transform: scale(0.5);
    }
    
    .contactoGitHub img{
        transform: scale(0.42);
    }

    .iconoContacto{
        transform: scale(0.4);
    }

    .contenedorIconosContacto div{
        margin: -1.3rem 5% -1.4rem;
        position: relative;
        top: 0px;
        transform: scale(0.6);
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contenedorIconosContacto div {
        height: 15vh;
    }

    .botonEnviar{
        width: 35%;
    }
}