.contacto{
    width: 100%;
    height: 100vh;
    /* background-color: cadetblue; */
   /*  position: absolute; */
   position: relative;
}

.contactoHeader{
    padding-top: 4.4rem;
}

.contactoHeader h1{
    margin-left: 5rem;
    font-size: 1.8rem;
}
/*
.formulario{
    background-color: rgb(38, 77, 78);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 35%;
    margin: 15rem auto auto auto;
}
*/

.formulario form{
    position: relative;
    overflow: hidden;
    align-items: center;
    width: 420px;
    margin: 5rem auto;
    background-color: rgba(22, 102, 82, 0.5);
    padding: 5rem;
    /* border-radius: 0px 160px 0px 160px; */
}

.formulario form::after {
    content: "";
    position: absolute;
    margin: -3% -28%;
    width: 51%;
    height: 26%;
    transform: rotate(37deg);
    background-color: #215432;
    overflow: hidden;
}

.formulario .cuadro2:after {
    content: "";
    position: absolute;
    margin: -81% 55%;
    width: 50%;
    height: 26%;
    transform: rotate(37deg);
    background-color: #215432;
    overflow: hidden;
}

.inputForm{
    text-align: center;
    color: rgb(165, 16, 16);
    font-size: 20px;
    line-height: 25px;
    background-color: #266e34;
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.inputForm:focus{
    background-color: blue;
}
.inputForm::placeholder{
    color: rgb(117, 9, 9);
}

form textarea{
    height: 10rem;
    line-height: 150%;
    resize: vertical;
}

.inputForm::placeholder{
    text-align: center;
}

.botonEnviar{
    width: 30%;
    padding: .5rem;
    margin: 0px 36%;
    cursor: pointer;
    border: none;
    background-color: rgb(13, 68, 24);
    border-radius: 10px;
    box-shadow: -1px 2px 9px #00000045;
}

.botonEnviar:hover{
    background-color: rgb(82, 117, 89);
    box-shadow: -1px 2px 9px #0000009d;
    transform: scale(1.1);
    transition: 0.1s linear;
}

.contenedorIconosContacto{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 2rem;
}

.contenedorIconosContacto a{
    display: contents;
}

.contenedorIconosContacto img{
    width: 40%;
    margin: 1.5rem 2rem;
}

.contactoEmail{
        margin: 0rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
}

.contactoEmail p {
        /* display: none; */
        position: absolute;
        bottom: -1rem;
}

.contactoLinkedIn{
     margin: 0rem 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
}

.contactoLinkedIn p {
    /* display: none; */
    position: absolute;
    bottom: -1rem;
}