.sobremi{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: none;
}

.modalsobremi{
    position: relative;
    display: flex;
    background-color: #047446;
    color: white;
    overflow: auto;
    width: 65vw;
    height: 30vw;
    padding: 0vw 5vw;
    padding-left: 0;
    border-radius: 18px;
    overflow: hidden;
    animation: modalAnim 0.2s cubic-bezier(0.45, 0.20, 0.6, 1);
}

.sobremi.modalabierto{
    display: flex;
}

.cerrarmodal{
    position: absolute;
    top: 0rem;
    right: 1rem;
    transform: scale(0.4);
    cursor: pointer;
    filter: brightness(2);
}

.cerrarmodal:hover{
    transform: scale(0.45);
    transition: 0.1s linear;
    filter: brightness(2);
}


@media screen and (max-width: 960px){
    .modalsobremi{
        width: 75vw;
        height: 75vh;
    }

    .cerrarmodal{
        filter: brightness(0);
        z-index: 1;
    }
}

@media screen and (max-width: 480px){
    .modalsobremi{
        width: 80vw;
        height: 78vh;
    }

    .cerrarmodal{
        transform: scale(0.2) translate(8rem, -6rem);
        filter: brightness(0);
        z-index: 1;
    }
}



@media screen and (max-width: 1366px) and (min-width: 961px){
    .modalsobremi{
        width: 75vw;
    }
}

@keyframes modalAnim {
    0%{
        top: -50rem;
    }
    100%{
        top: 0;
    }
}

@keyframes fondoNegroAnim {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* 
@keyframes modalAnim {
    0%{
        top: -50rem;
    }
    100%{
        top: 0;
    }
}

@keyframes fondoNegroAnim {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

*/