@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

:root{
  --verde-oscuro: #08af6a;
  --verde-claro: #35d688;
  --violeta-oscuro: #36177e;
  --violeta-claro: #721AD8;
  --naranja-claro: #c5621c;
  --naranja-oscuro: #d36a1f;
  --rojo: #d82d1e;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Lato', sans-serif;
  overflow: overlay;
}

body::-webkit-scrollbar{
  width: .7rem;
  height: 1.2rem;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(27, 29, 109);
  border-radius: 15px;
}


body::-webkit-scrollbar-thumb:hover{
  background-color: rgb(28, 33, 189);
}


body::-webkit-scrollbar-thumb:active{
  background-color: rgb(72, 27, 109);
}

body::-webkit-scrollbar-track{
 background-color: transparent;
}

.App-header{
  background-color: var(--verde-oscuro);
  box-shadow: 0 0px 8px black;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 5.5rem;
}

.barra-navegacion{
  text-align: center;
}

.barra-navegacion ul{
  list-style: none;
  position: relative;
  margin-right: 10%;
}

.barra-navegacion li{
  float: right;
  margin: 1rem 2rem;
}

.barra-navegacion li a{
  position: relative;
  text-decoration: none;
  font-family: 'Lato black', sans-serif;
}

.barra-navegacion li a::before{
  content: "";
  position: absolute;
  bottom: -0.9rem;
  left: 50%;
  height: 5px;
  width: 0%;
  background-color: rgba(255, 255, 255);

  visibility: hidden;

  transition: .1s linear;
}

.barra-navegacion li a:hover:before,
.barra-navegacion li a:active:before,
.barra-navegacion li a:focus:before{
  width: 100%;
  left: 0;

  visibility: visible;
}

.contenedor-hamburguesa img{
  visibility: hidden;
}



@media screen and (max-width: 960px){

  .barra-navegacion ul {
        position: fixed;
        text-align: start;
        margin: 0 0;
        margin-top: 8rem;
        font-size: 2.2rem;
        height: 100%;
        width: 45%;
        background: var(--naranja-oscuro);
        right: -60%;
        z-index: 12;

        /* transform: rotate(180deg); */
        visibility: hidden;
  
  }

  .barra-navegacion li {
      /* transform: rotate(180deg); */
    
      margin: 3.5rem 0;
      padding: 3rem 2rem;
      background-color: var(--naranja-claro);
      border-radius: 20px;
      float: none;
  }

  .App-header{
    background-color: var(--verde-oscuro);
    height: 8rem;
  }
  

  .contenedor-hamburguesa img{
    width: 10%;
    position: absolute;
    right: 3rem;
    top: 10%;
  }
  
  .contenedor-hamburguesa .hamburguesa{
    visibility: visible;
    filter: brightness(1.8);
  }

  .contenedor-hamburguesa .hamburguesa-cierre{
    visibility: hidden;
  }

  .cerrar-menu{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0, 0);
    display: flex;
    position: fixed;
    z-index: 0;
  
    visibility: hidden;
  }
  
  .cerrar-menu.menu-abierto{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s linear;
  }

  .App-header.responsive .barra-navegacion ul {
    right: 0;
    transition: 0.2s linear;

    visibility: visible;
  }

  .App-header.responsive .hamburguesa{
    visibility: hidden;
  }

  .App-header.responsive .hamburguesa-cierre{
    visibility: visible;
    filter: brightness(1.8);
  }

}

@media screen and (max-width: 480px){
  .App-header{
    height: 10vh;
  }

  .barra-navegacion ul{
    font-size: 1rem;
    margin: 0 0;
    margin-top: 10vh;
    padding: 0 0;
  }

  .barra-navegacion li{
    margin: 1.5rem 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    width: 80%;
  }

}