/*
.App-logo {
                        height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
                    font-size: calc(10px + 2vmin);
}

*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poor+Story&family=Roboto+Slab&display=swap');

:root{
  --padding-header-componente: 6rem;
}

*{
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Lato', sans-serif;
}

html{
  scroll-behavior: smooth;
}


/* SCROLL BAR ---------------------------------------*/

body{
  overflow: overlay;
}

body::-webkit-scrollbar{
  /*background-color: #811414 !important;*/
  width: 10px;
  height: 20px;
}

body::-webkit-scrollbar:hover{
  /*background-color: #811414 !important;*/
  /* width: 18px;
  height: 20px; */
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(27, 29, 109);
  border-radius: 15px;
}


body::-webkit-scrollbar-thumb:hover{
  /* background-color: rgb(76, 77, 143); */
  background-color: rgb(28, 33, 189);
}


body::-webkit-scrollbar-thumb:active{
  background-color: rgb(72, 27, 109);
}

body::-webkit-scrollbar-track{
 /* background-color: rgb(61, 61, 61); */
 background-color: transparent;
}

/*--------------------------------------- SCROLL BAR*/

.App-header {
  /* background: linear-gradient(175deg, #20378d, #4157a7 60%, #4a208d); */
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 4.4rem;
  z-index: 100;
  box-shadow: black 3px -5px 17px 0px;
  animation: navbarPresentacionAnim 1.8s cubic-bezier(0, 0.68, 0, 0.74)
}

@keyframes navbarPresentacionAnim {
  0%{
    transform: translate(0px, -11rem);
   }
   80%{
    transform: translate(0px, -11rem);
   }
   100%{
      transform: translate(0rem, 0rem);
   }
}

/* NOMBRE --------------------------------------- */

.App-header h1 { 
  position: fixed;
  float: left;
  font-size: 175%;
  left: 3rem;
  top: -0.2rem;
  /* padding: 0px 00px; */
  /* margin: 10px 35px; */
  text-align: center;
  /* margin: 10px 0px 0px 30px; */
  color: white;
  /* border: solid blue; */
}

/*--------------------------------------- NOMBRE */

.App-header nav {
  float: right;
}

.App-header nav ul {
    list-style: none;
    overflow: hidden;
    /* margin: 0; */
    /* padding: 0px 100px 0px 0px; */
    position: relative;
    right: 6vw;
    bottom: .7rem;
}

.App-header nav ul li {
  float: right;
}

.App-header nav ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 0.3rem;
    margin: 1rem 0.9rem;
    font-size: 100%;
    /* border: solid green; */
}

/*
.App-header nav ul li a:hover {
  text-decoration: none;
  display: block;
  color: rgb(253, 250, 250);
  padding: 5px;
  margin: 16px 15px;
  background-color: rgb(97, 73, 73);
  border-radius: 25% 10%;
  transform: scale(1.2);
  transition: 0.3s;
}
*/

.App-header nav ul li a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: rgba(64, 173, 109, 0.8);
  border-radius: 5px;
  transform: scaleX(1);
  transition: 0.2s linear;

  
  visibility: hidden;
}

.App-header nav ul li a:hover:before,
.App-header nav ul li a:focus:before{
  box-shadow: 0 0 4px 2px rgb(64 173 110);  
  transform: scaleX(1);
  visibility: visible;

}

.hamburguesa, .hamburguesaCierre{
  display: none;
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .App-header nav ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 0.4rem;
    margin: 1rem 0.6rem;
    font-size: 80%;
  }

  .App-header nav ul {
    right: 2vw;
    bottom: .6rem;
  }

  .App-header h1 {
    font-size: 160%;
    left: 3rem;
    top: 0rem;
  }
}


@media screen and (max-width: 750px) {

  .App-header nav ul li a{
    display: none;
  }

  .App-header.responsive .hamburguesa{
    display: none;
  }

  .hamburguesa{
    display: block;
    padding: 0px;
    margin: -1rem 1rem;
    float: right;
    transform: scale(0.5);
  }

  .hamburguesaCierre{
    display: none;
  }

  .App-header.responsive .hamburguesaCierre{
    display: block;
    padding: 0px;
    /* margin: -1rem -1.7rem; */
    margin: -1rem 1rem;
    /* margin: -1rem -7.3rem; */
    float: right;
    transform: scale(0.5);
  }
  
  .hamburguesa:hover, .hamburguesaCierre:hover {
    cursor: pointer;
    transform: scale(0.55);
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.644));
  }

  .App-header.responsive nav {
    /* float: right; */
    /* margin: 70px -90px 0px 0px; */
    /* float: right; */
    /* margin: 70px -90px 0px 0px; */
    position: absolute;
    right: -2.7rem;
    top: 4rem;
  }

  .App-header.responsive nav ul {
    /* margin: 0px -19px; */
    padding: 0;
    background-color: rgb(52 53 183 / 50%);
    border-radius: 10px 0px 0px 10px;
  }

  .App-header.responsive nav ul li {
    float: none;
    padding: 5px 2px;
  }

  .App-header.responsive nav ul li a {
    display: block;
    /* padding: 0px; */
    margin: 0px 50px 0px 10px;
    font-size: 1rem;
    text-align: left;
  }

  .App-header.responsive nav ul li a:hover {
    /* background-color: rgb(211, 171, 171);
    border-radius: 25% 10%;  */
    cursor: pointer;
    box-shadow: rgb(97 80 177) -2px 2px 1px 0px;
    /* transform: scale(1.2);
    margin-left: 1rem;  */
    transition: 0.2s;
  }

  .App-header.responsive nav ul li a::before{
    display: none;
  }

  .activo {
    transform: scale(2);;
    transition: 0.2s;
  }
  
  .hamburguesa.girada{
    transform: rotate(90deg) scale(0.5);
    transition: 0.2s linear;
    filter: brightness(50);
  }

  .cerrarMenu{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0, 0);
    display: flex;
    position: fixed;
    z-index: 100;
  
    visibility: hidden;
  }
  
  .cerrarMenu.menuAbierto{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    animation: 0.2s linear negroEntra;
  }
  
  @keyframes negroEntra {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}


/*
.conocimientos-index {
    position: absolute;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.presentacion-index {
  position: absolute;
  background-color: rgb(65, 79, 197);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

*/


.presentacion-index {
  position: relative;
  background-color: rgb(65, 79, 197);
  overflow: hidden;
  z-index: 50;
}

.conocimientos-index {
  position: relative;
  /* background-color: rgb(47 37 112);*/
  /* background: linear-gradient(180deg, rgb(47 37 112), rgb(79, 67, 160) 50%, rgb(214, 111, 111));*/
  background: linear-gradient(180deg, rgb(47 37 112), rgb(79, 67, 160) 50%, rgb(110 137 167));
 /* background-color: aqua;*/
  /* z-index: 60; */
}

.proyectos-index {
  position: relative;
  /* background-color: rgb(214, 111, 111); */
  /* background-color: rgb(110 137 167); */
  background: linear-gradient(360deg, rgb(72 40 130), rgb(68 84 161) 50%, rgb(110 137 167));
  z-index: 0;
}

.contacto-index {
  position: relative;
  /* background-color: cadetblue; */
  background: linear-gradient(45deg, rgb(32 60 132), rgb(68 84 161) 50%, rgb(72 40 130));
  z-index: 0;
  /* border-top: solid black 5px; */
  box-shadow: 0px -8px 20px 0px #000;
  /*  box-shadow: inset 0 10px 0 0 #000; */
}